.nav-link:hover {
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper {
    padding-top: 20px;
}

.table.table-striped {
    text-align: center;
}